
#menu-columns{background-color: black;}

/* clearfix by css only */
#menu-columns::after {
  content: "";
  display: block;
  clear: both;
}
#menu{background-color: red;}
#sub-menu{width: 80%; margin:0 auto;        border: thin solid black;}

.menu-columns {float:left;  color:white; padding: 5px;}

#Marka{color: red;
      text-align: center;

}
#titulo {text-align: center;
        border: thin solid white;
        background-color: black;
        color: white;
}

.columns {width:25%;
          float:left;
          background-color:black;
          color:white;
          text-align: left;}

.clearfix { clear:both; }
