
#footer{background-color: black}
#Marka{color: red;}
#titulo {text-align: center;
        border: thin solid black;
        background-color: black;
        color: white;
        float: inherit;
        border: 1px solid white;
}
#marca{
        width:25%;
        float:left;
        background-color:black;
        color:white;
}
#ocio{
        width:25%;
        float:left;
        background-color:black;
        color:white;
}
#unidad {
        width:25%;
        float:left;
        background-color:black;
        color:white;
}
#formacion{
        width:25%;
        float:left;
        background-color:black;
        color:white;
}
